*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.submit-salary{
    width: 550px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}

.submit-salary h2{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.submit-salary form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.submit-salary input{
    width: 450px;
    height: 35px;
    padding: 5px;
    font-size: 14px;
}

.submit-salary button{
    width: 450px;
    height: 40px;
    background-color: rgb(9, 212, 9);
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}




