
.page-content{
    height: calc(100vh - 80px);
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.aside-content{
    height: calc(100vh - 80px);
    width: 250px;
}

.aside-nav{
    display: flex;
    flex-direction: column;
}

.aside-nav-items{
    list-style-type: none;
    width: 250px;
    height: 50px;
    border: 5px;
    border-color: aqua;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    align-self: flex-start;
    margin-left: 20px;
}

.aside-nav-items:hover{
    transform: scale(1.14);
    transition: all 0.3s ease-in-out;
    color: aqua;
}

.sidenav-logo{
    height: 25px;
    width: 25px;
    margin-right: 20px;
}

a{
    color: black;
}



/* aside{
    height: 100vh;
    width: 150px;
    background-color: antiquewhite;
}

aside .aside-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.aside-nav li{
    margin-top: 80px;
    background-color: slategrey;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
} */