body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4CAF50;
    margin: 0;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.navbar-left {
    display: flex;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #555;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.logout-button {
    background-color: #d9534f;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c9302c;
}

.container {
    display: flex;
    width: 100%; /* Set width to 50% */
}

#salary-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 10px;
    flex: 1;
    font-weight: bold;
    height: 77%;
      
}
#result-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
    flex: 1;
    height: 77%;
}

h2 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    color: #555;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #0526df;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#result {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
