{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment-proc.css' %}">
</head>
<body>
    <div class="admin-header">
        <h2>ADMIN PAGE</h2>
        <a href="{% url 'user_login' %}">Logout</a>
    </div>
    <div class="page-content">
        <aside class="aside-content">
            <ul class="aside-nav">
                <a class="aside-nav-items" href="{% url 'admin_view' %}">
                    <img class="sidenav-logo" src="{% static 'images/salary.png' %}" alt="logo">
                    Dashboard
                </a>
                <a class="aside-nav-items" href="{% url 'salary_config' %}">
                    <img class="sidenav-logo" src="{% static 'images/bank-check.png' %}" alt="logo">
                    Salary Configuration
                </a>
                <a class="aside-nav-items" href="{% url 'payment_proc' %}">
                    <img class="sidenav-logo" src="{% static 'images/calculator.png' %}" alt="logo">
                    Payment Processing
                </a>
                <a class="aside-nav-items" href="{% url 'reporting' %}">
                    <img class="sidenav-logo" src="{% static 'images/report.png' %}" alt="logo">
                    Reporting
                </a>
            </ul>
        </aside>
        <section class="admin-content">
            <!-- FETCH ALL EMPLOYEES -->
                <div class="card-container">
                    <!-- FETCH ALL EMPLOYEES  -->
                    <div class="dialog" id="dialog">
                    <form action="{% url 'payment_proc' %}" method="post">
                        <h2>Send Salary</h2>
                        <p>Employee Username: <span id="employee-username"></span></p>
                        <input type="hidden" name="employee-username" id="employee-username-input">
                        <input type="text" name="employee-name" id="employee-name-input" readonly>
                        <input type="text" name="employee-address" id="employee-address-input" readonly>
                        <input type="text" name="current-date" id="current-date-input" readonly>
                        <hr>
                        <label for="salary-value">Salary:</label>
                        <input type="text" id="salary-value" name="salary-value">
                        <button type="submit">Send Salary Payment</button>
                        <hr>
                    </form>
                    </div>
                </div>
        </section>
    </div>
</body>
</html>
