{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment-proc.css' %}">
</head>
<body>
    <div class="admin-header">
        <h2>ADMIN PAGE</h2>
        <a href="{% url 'home' %}">Logout</a>
    </div>
    <div class="page-content">
        <aside class="aside-content">
            <ul class="aside-nav">
                <a class="aside-nav-items" href="{% url 'admin_view' %}">
                    <img class="sidenav-logo" src="{% static 'images/salary.png' %}" alt="logo">
                    Dashboard
                </a>
                <a class="aside-nav-items" href="{% url 'salary_config' %}">
                    <img class="sidenav-logo" src="{% static 'images/bank-check.png' %}" alt="logo">
                    Salary Configuration
                </a>
                <a class="aside-nav-items" href="{% url 'payment_proc' %}">
                    <img class="sidenav-logo" src="{% static 'images/calculator.png' %}" alt="logo">
                    Payment Processing
                </a>
                <a class="aside-nav-items" href="{% url 'reporting' %}">
                    <img class="sidenav-logo" src="{% static 'images/report.png' %}" alt="logo">
                    Reporting
                </a>
            </ul>
        </aside>
        <section class="admin-content">
            <div class="submit-salary">
                <form action="{% url 'payment_page' username=employee.username %}" method="post">
                    {% csrf_token %}
                    <h2>Send Salary</h2>
                    <p>Employee Salary Details: <span id="employee-username"></span></p>
                    <hr>
                    <label for="employee-username">Username:</label>
                    <input type="text" name="employee-username" id="employee-username-input" value="{{ employee.username }}" readonly>
                    <label for="employee-name">Name:</label>
                    <input type="text" name="employee-name" id="employee-name-input" value="{{ employee.name }}" readonly>
                    <label for="employee-address">Address:</label>
                    <input type="text" name="employee-address" id="employee-address-input" value="{{ employee.address }}" readonly>
                    <hr>
                    <label for="salary-value">Salary:</label>
                    <input type="text" id="salary-value" name="salary-value">
                    <button type="submit">Send Salary Payment</button>
                </form>
            </div>
            
        </section>
    </div>
    <script src="{% static 'js/payment_proc.js' %}"></script>
</body>
</html>
