<!-- login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="home-page">
        <div class="logo">
            <img src="../../static/images/ems.png" alt="">
        </div>
        <div class="navigator">
            <h2>Employee Salary System</h2>
            <div class="navigator-button">
                <a href="{% url 'user_login' %}" id="signIn"><button>Sign In</button></a>
                <a href="{% url 'register' %}" id="signIn"><button>Register</button></a>
                <p>By clicking continue, you agree to our <a href="{% url 'home' %}">Terms of Service</a> and <a href="{% url 'home' %}">Privacy Policy.</a></p>
            </div>
        </div>
        
    </div>
    
</body>
</html>
