<!-- login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-page">
        <div class="login-image">
            <img src="{% static 'images/login-django.svg' %}" alt="login-image"> 
        </div>
        <div class="login-container">
            <div class="login-form">
                <h1>Login</h1>
                <p>Login with your credentials</p>
                <form method="post" action="{% url 'user_login' %}" autocomplete="on">
                    {% csrf_token %}
                    <div class="input-container">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="input-container">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit">Login</button>
                    {% if error_message %}
                        <p class="error-message">{{ error_message }}</p>
                    {% endif %}
                </form>
                
                <!-- SIGN UP ROUTE HERE -->
                <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </div>
        </div>
    </div>
    
</body>
</html>
