<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary Calculations</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/payroll.css' %}">
</head>
<body>
    <nav>
        <div class="navbar-image">
            <img src="" alt="">
        </div>
        <ul class="navbar-ul">
            <li>
                <a href="{% url 'emp_view' %}">Dashboard</a>
            </li>
            <li>
                <a href="{% url 'update_info' %}">Profile Management</a>
            </li>
            <li>
                <a href="{% url 'view_calculation' %}">Payroll</a>
            </li>
            {% comment %} <li>
                <a href="{% url 'user_report' %}">Report</a>
            </li> {% endcomment %}
            <li>
                <a href="{% url 'user_login' %}">Logout</a>
            </li>
        </ul>
    </nav>
    <!-- DIMENSION OF NAVBAR ABOVE -->

    <!-- width: 100vw;
    height: 80px; -->


    <!-- DASHBOARD CONTENT -->
    <div class="page-content">
        <aside class="aside-content">
            <ul class="aside-nav">
                <a class="aside-nav-items" href="{% url 'view_calculation' %}">
                    <img class="sidenav-logo" src="{% static 'images/calculator.png' %}" alt="logo">
                    Salary Calculations
                </a>

                <a class="aside-nav-items" href="{% url 'tax_info' %}">
                    <img class="sidenav-logo" src="{% static 'images/tax.png' %}" alt="logo">
                    Tax Information
                </a>
            </ul>
        </aside>
        <section class="dashboard-content">
            <!-- Your section content goes here -->
            <div class="calculation">
                <h1>Salary Calculations Details</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Basic Salary</th>
                            <th>SSS</th>
                            <th>Philhealth</th>
                            <th>Pagibig</th>
                            <th>Tax</th>
                            <th>Total Deduction</th>
                            <th>Net Pay</th>
                            <th>Pay Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for salary_info in salary_info_list %}
                            <tr>
                                <td>{{ salary_info.basic_salary }}</td>
                                <td>{{ salary_info.sss }}</td>
                                <td>{{ salary_info.philhealth }}</td>
                                <td>{{ salary_info.pagibig }}</td>
                                <td>{{ salary_info.tax }}</td>
                                <td>{{ salary_info.total_deduction }}</td>
                                <td>{{ salary_info.netpay }}</td>
                                <td>{{ salary_info.date_saved }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>
</html>
