<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src=""></script>
</head>
<body>
    <script src="{% static '/css/Emp.js' %}"></script>
    <nav>
        <div class="navbar-image">
            <img src="" alt="">
        </div>
            <ul class="navbar-ul">
                <li>
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'profile_management' %}">Profile Management</a>
                </li>
                <li>
                    <a href="{% url 'payroll' %}">Payroll</a>
                </li>
                <li>
                    <a href="{% url 'report' %}">Report</a>
                </li>
            </ul>
    </nav>

    {% comment %} DIMENSION OF NAVBAR ABOVE {% endcomment %}

    <!-- width: 100vw;
    height: 80px; -->


   <!-- DASHBOARD CONTENT -->
   <div class="page-content">
    <aside class="aside-content">
        <ul class="aside-nav">
            <a  class="aside-nav-items" href="{% url 'dashboard' %}">
                <img class="sidenav-logo" src="../../images/salary.png" alt="logo">
                Salary Information
            </a>

            <a  class="aside-nav-items"  href="{% url 'user_stub' %}">
                <img class="sidenav-logo" src="../../images/bank-check.png" alt="logo">
                Pay Stubs
            </a>

            <a  class="aside-nav-items" href="{% url 'doc_repo' %}">
                <img class="sidenav-logo" src="../../images/documentation.png" alt="logo">
                Document Repository
            </a>
        </ul>
    </aside>
    <div class="dashboard-content">
        <!-- ... -->
    </div>
</div>
</body>
</html>