<!-- salary_config.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/salary-config.css' %}">
    <script src="{% static 'js/calculation.js' %}"></script>
</head>
<body>
    <script src="{% static 'js/calculation.js' %}"></script>
    <div class="admin-header">
        <h2>ADMIN PAGE</h2>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    <div class="page-content">
        <aside class="aside-content">
            <ul class="aside-nav">
                <a class="aside-nav-items" href="{% url 'admin_view' %}">
                    <img class="sidenav-logo" src="{% static 'images/salary.png' %}" alt="logo">
                    Dashboard
                </a>
                <a class="aside-nav-items" href="{% url 'salary_config' %}">
                    <img class="sidenav-logo" src="{% static 'images/bank-check.png' %}" alt="logo">
                    Salary Configuration
                </a>
                <a class="aside-nav-items" href="{% url 'payment_proc' %}">
                    <img class="sidenav-logo" src="{% static 'images/calculator.png' %}" alt="logo">
                    Payment Processing
                </a>
                <a class="aside-nav-items" href="{% url 'reporting' %}">
                    <img class="sidenav-logo" src="{% static 'images/report.png' %}" alt="logo">
                    Reporting
                </a>
                <a class="aside-nav-items" href="{% url 'system_config' %}">
                    <img class="sidenav-logo" src="{% static 'images/system.png' %}" alt="logo">
                    System Configuration
                </a>
            </ul>
        </aside>
        
        <section class="admin-content">
            <div class="salary-config">
                <h1>Define Salary Components</h1>
                <form action="{% url 'salary_config' %}" method="post" id="basicSalForm">
                    {% csrf_token %}
                    
                    <div class="fetch-info">
                        {% if employee %}
                            <h3>{{ employee.name }}</h3>
                            <p>{{ employee.contact }}</p>
                            <p>{{ employee.address }}</p>
                        {% endif %}
                    </div>
                </form>
                
                
                
                <form action="{% url 'salary_config' %}" method="post" id="salaryForm">
                    {% csrf_token %}
                    <div class="user-info">
                        <div class="user-info">
                            <label for="username">Employee Username:</label>
                            <input type="text" id="username" name="username" required>
                        </div>
                        <label for="salary">Set Employee Basic Salary:</label>
                        <input type="text" id="salary" name="salary" required>
                        <hr>
                        <div class="computation-value">
                            <div class="computation">
                                <label for="basic-salary">Basic Salary:</label>
                                <input type="text" id="basic-salary" name="basic-salary" value="{{ basic_salary|default:'' }}" >
                            </div>
                            <div class="computation">
                                <label for="sss">SSS:</label>
                                <input type="text" id="sss" name="sss" value="{{ sss|default:'' }}" >
                            </div>
                            <div class="computation">
                                <label for="philhealth">PhilHealth:</label>
                                <input type="text" id="philhealth" name="philhealth" value="{{ philhealth|default:'' }}" >
                            </div>
                            <div class="computation">
                                <label for="pagibig">PAGIBIG:</label>
                                <input type="text" id="pagibig" name="pagibig" value="{{ pagibig|default:'' }}" >
                            </div>
                            <div class="computation">
                                <label for="total-deduction">Total Deductions:</label>
                                <input type="text" id="total-deduction" name="total-deduction" value="{{ total_deduction|default:'' }}" >
                            </div>
                            <div class="computation">
                                <label for="net-pay">Net Pay:</label>
                                <input type="text" id="net-pay" name="net-pay" value="{{ net_pay|default:'' }}">
                            </div>
                        </div>
                    </div>
                    <button id="calculateBtn" type="submit" onclick="deductionValues()">Calculate</button>
                </form>
                
                
            </div>
        </section>
    </div>
</body>
</html>
