
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.login-page{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.login-image{
    height: 500px;
    width: 600px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img{
    height: 400px;
    width: 500px;
    align-self: center;
}

.login-container{
    width: calc(100vw - 700px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    width: 500px;
    height: 450px;
    border: none;
    box-shadow: 20px;
    border-radius: 10px;
}


