
.dashboard-content{
    height: calc(100vh - 80px);
    width: calc(100vw - 250px);
    border-left: solid 1px;
    border-color: slategray;
    
}

.calculation{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;

    margin-top: 20px;
    padding: 20px;

}

.calculation h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}