*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.update-wrapper{
    width: calc(100vw - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.update-container{
    padding-top: 10px;
    width: 500px;
    height: 600px;
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
}
.update-container input{
    height: 35px;
    width: 90%;
    padding: 5px;
    font-size: 16px;
}
.update-container button{
    width: 90%;
    height: 40px;
    background-color: rgb(37, 221, 67);
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.change-pass{
    display: none;
    transition: opacity 0.3s ease-in-out; 
}

.change-pass input{
    height: 35px;
    width: 430px;
    padding: 5px;
    font-size: 16px;
}


.checkbox-container{
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.checkbox {
    transform: scale(0.5);
    margin: 0;
    position: absolute;
    margin-left: 200px;
}

hr{
color: black;
height: 2px;
}
/* side nav information */

.profile-container {
    max-width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



h1 {
    text-align: center;
    color: #333;
}



label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    font-size: 20px;
}

p {
    margin: 0;
    font-size: 15px;
}

.profile-info p {
    margin-bottom: 15px;
}
