*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* salary-config.css */

.salary-config {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 20px;
}

.salary-config h1 {
    margin-bottom: 20px;
}

.user-info {
    margin-bottom: 20px;
}

.user-info label {
    margin-right: 10px;
}

.user-info input {
    margin-right: 10px;
    width: 300px;
}

.computation-value {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.computation {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.computation label {
    margin-right: 10px;
}

.computation input {
    width: 300px; /* Adjust width as needed */
    height: 30px;
}

#calculateBtn {
    align-self: center;
    margin-top: 20px;
    width: 500px;
    background-color: green;
    color: white;
    height: 40px;
    border-radius: 8px;
}

