*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* salary-config.css */

.salary-config {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 20px;
    height: auto;
}

.salary-config h1 {
    margin-bottom: 20px;
}

.admin-content{
    height: scroll;
    display: flex;
    flex-direction: column;
}

.user-info{
    width: 700px;
    border: 5px;
    border-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.user-employee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 10px;
}

.user-employee select{
    width: 400px;
    height: 35px;
}

.user-employee input{
    width: 400px;
    height: 35px;
    padding: 5px;
}

.computation-value{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.computation{
    display: flex;
    justify-content: space-between;

}

.computation input{
    width: 400px;
    height: 35px;
    padding: 5px;
}

.salary-config button{
    margin-top: 20px;
    height: 40px;
    width: 700px;
    align-self: center;
    background-color: green;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointerw;
}



