*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dashboard-content{
    height: calc(100vh - 80px);
    width: calc(100vw - 250px);
    border-left: solid 1px;
    border-color: slategray;
    
}

.tax{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    
    width: 80%;
    height: 80%;
}


h1 {
    color: #333;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}