<!-- admin_dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}">
</head>
<body>
    <script src="{% static 'js/admin.js' %}"></script>
    <div class="admin-header">
        <h2>ADMIN PAGE</h2>
        <div class="right-side-header">
            <h1>Current Time:</h1>
            <p id="currentTime"></p>
        </div>
    </div>
    <div class="page-content">
        <aside class="aside-content">
            <ul class="aside-nav">
                <a class="aside-nav-items" href="{% url 'admin_view' %}">
                    <img class="sidenav-logo" src="../images/salary.png" alt="logo">
                    Dashboard
                </a>
                <a class="aside-nav-items" href="{% url 'salary_config' %}">
                    <img class="sidenav-logo" src="../images/bank-check.png" alt="logo">
                    Salary Configuration
                </a>
                <a class="aside-nav-items" href="{% url 'payment_proc' %}">
                    <img class="sidenav-logo" src="../images/calculator.png" alt="logo">
                    Payment Processing
                </a>
                <a class="aside-nav-items" href="{% url 'reporting' %}">
                    <img class="sidenav-logo" src="../images/report.png" alt="logo">
                    Reporting
                </a>
                <a class="aside-nav-items" href="{% url 'system_config' %}">
                    <img class="sidenav-logo" src="../images/system.png" alt="logo">
                    System Configuration
                </a>
            </ul>
        </aside>
        <section class="admin-content">
            <div class="card-container">
                <!-- FETCH ALL EMPLOYEES  -->
                {% for employee in employees %}
                    <div class="card-content">
                        <h1>{{ employee.name }}</h1>
                        <p>{{ employee.address }}</p>
                        <p>{{ employee.contact }}</p>
                        <button>Delete Employee</button>
                        <a href="#" onclick="openEditDialog('{{ employee.name }}', '{{ employee.address }}', '{{ employee.contact }}')">View Employee</a>
                    </div>
                {% endfor %}
            </div>
            
            <!-- THIS IS FOR EDITING THE EMPLOYEE INFORMATION -->
            <div id="dialog" class="dialog">
                <div class="dialog-content">
                    <span class="close" onclick="closeDialog()">&times;</span>
                    <h1>Edit Employee Information</h1>
                    <form method="post" action="{% url 'update_employee' %}">
                        {% csrf_token %}
                        <div class="update-emp-info">
                            <label for="name">Name:</label><br>
                            <input type="text" name="name" id="editName"><br>
                            <label for="address">Address:</label><br>
                            <input name="address" id="editAddress"></input><br>
                            <label for="contact">Contact Number:</label><br>
                            <input type="tel" name="contact" id="editContact"><br><br>
                            <input type="submit" value="Update">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
